@charset "UTF-8";

body {
  font-family: 'Hiragino Kaku Gothic ProN W3', sans-serif;
}

a{
  color: black;
  text-decoration: none;
}

a:hover{
  text-decoration: underline;
}

li {
  list-style: none;
}

.container{
  width:1000px;
  margin: 0 auto;
  align:center;
}

header{
  height:70px;
  width: 100%;
  background-color:rgb(186,232,232);
  position: fixed;
  z-index: 10;
  top:0px
}

.header-container{
  display: flex;
  align-items: center;
}

.header-container nav{
  margin-left: auto;
}

.header-container ul{
  display: flex;
}

.header-container ul li{
  margin-left: 20px;
}

.header-img{
  height:60px;
  margin-top: 5px;
}

.top-wrapper{
  height: 700px;
  background-image: url("kwada_BG.png");
  background-size:cover;
}

.top-logo{
  padding-top: 135px;
}

.top-logo img{
  display: block;
  height: 500px;
  width: 500px;
  margin: 0 auto;
}

.box_container{
  display:flex;
}

.box_icon{
  width:260px
}

.box_text{
  width: 500px;
}
